.app .app-todo-content {
    width: 550px;
    height: max-content;
    margin: 0 auto;
    background-color:var(--tertiary-color);
    border-radius: 10px;
}

.app-todo-content .content-input {
    display: flex;
    padding-top: 10px;
    box-shadow: 0 2px 5px -3px grey;
}

.app-todo-content .fa-check {
    color: var(--color-icon-primary); 
    margin-top: 10px;
    margin-left: 20px;
}

.app-todo-content .task-input {
    border: none;
    width: 100%;
    background-color: rgba(0,0,0,0);
    padding-left: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.app-todo-content .task-input:focus {
    outline: none;
}

.app-todo-content .content-action {
    display: flex;
    justify-content: space-between;
    box-shadow: 0 -2px 6px -4px grey;
}

.app-todo-content .task-filter {
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin-right: 30px;
    
}

.app-todo-content .task-filter-item {
    margin: 0 10px;
}

.app-todo-content .task-filter-item .item {
    color: var(--secondary-color);
}

.app-todo-content .task-filter-item:hover .item {
    border: 1px solid var(--quaternary-color);
}

.app-todo-content .clear-completed {
    padding-right: 20px;
    color: var(--secondary-color);
}

.app-todo-content .list-task {
    padding: 0;
    margin: 0;
}


.app-todo-content .content-data {
    list-style: none;
    display: flex;
    align-items: center;
    position: relative;
    height: 58px;
}

.app-todo-content .content-data:hover {
    background-color: #dbdee5;
}

.app-todo-content .content-data:hover .close-task {
    display: block;
}

.app-todo-content .close-task {
    position: absolute;
    right: 20px;
    color: var(--color-icon-secondary);
    cursor: pointer;
    display: none;
}

.app-todo-content .fa-circle {
    margin-left: 20px;
    color: var(--color-icon-primary);
    cursor: pointer;
}

.app-todo-content .task-content {
    margin-left: 17px;
}
