.app {
    height: 100vh;
    background-image: url(../../assets/background.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

.app .notification-dialog {
    display: none;
    width: 400;
    height: 76px;
    border-radius: 2px;
    background-color: #d4edda;
    border: 1px solid #155724;
    position: absolute;
    bottom: 20px;
    right: 20px;
}

.app .notification-content {
    font-size: 16px;
    color: #155724;
    width: 300px;
    margin-left: 20px;
}

.app .fa-circle-xmark {
   position: absolute;
   right: 25px;
   bottom: 40px;
   cursor: pointer;
}