.btn {
    font-size: var(--font-size-text-sm);
    border-radius: 20px;
    background-color: var(--tertiary-color);
    color: var(--primary-color);
    font-weight: var(--font-weight-bold);
}

.btn-primary {
    background-color: var(--quaternary-color);
}
