.validation-form {
    width: 800px;
    height: 624px;
    position: fixed;
    border-radius: 15px;
    border: 1px solid var(--quaternary-color);
    left: 560px;
    top: 150px;
    background-color: var(--primary-color);
    display: none;
    z-index: 1000;
}

.validation-form .form-title {
    font-size: var(--font-size-text-md);
    display: block;
    padding: 22px;
    padding-left: 260px;
}

.validation-form .form-content {
    display: grid;
    grid-template-columns: 50% 50%;
    padding: 0 20px;
    column-gap: 20px;
}

.validation-form .form-input {
    width: 355px;
    border-radius: 20px;
    background-color: var(--quinary-color);
    padding: 16px 5px;
    border: none;
    text-indent: 10px;
}

.validation-form .form-input:focus {
    outline: none;
}


.validation-form .description-input {
    width: 759px;
    height: 118px;
    padding: 0;
}

.validation-form .description-input::placeholder {
    position: absolute;
    top: 15px;
    left: 17px;
}

.validation-form .upload {
    font-size: var(--font-size-text-sm);
    padding: 11px 47px;
}

.validation-form .form-btn {
    margin-top: 67px;
    margin-left: 367px;
    display: flex;
    gap: 20px;
}

.validation-form .btn-form {
    width: 197px;
    height: 56px;
}

.validation-form .btn-form:hover {
    background-color: var(--quinary-color);
    color: var(--tertiary-color);
}

.validation-form .cancel {
    position: absolute;
    bottom: 34px;
    right: 236px;
}

.validation-form .save {
    position: absolute;
    bottom: 34px;
    right: 20px;
}


.validation-form .calendar {
    position: absolute;
    top: 280px;
    left: 350px;
}

.validation-form .input-select-file {
    background-color: transparent;
    width: 100%;
    height: 100%;
    inset: 0;
    position: absolute;
    cursor: pointer;
    opacity: 0;
}

.validation-form .preview-image .preview-image-inner {
    position: absolute;
    top: 230px;
    right: 30px;
    width: 95px;
    height: 110px;
}
